/* 海平面 波浪线 */
.sea-side {
  position: absolute;
  width: 100%;
  transform: translateY(-14px);
  display: inline-block;
}

.wave {
  width: 6400px;
  height: 100px;
  /* 背景可以在 x 轴重复出现 */
  background: url("@/assets/img/bannerwave1.png") repeat-x;
  position: absolute;
  /* 执行波动动画：动画名 时长 贝塞尔曲线 无限次播放 */
  animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translateY(-70px);
}

.wave:nth-child(2) {
  background: url("@/assets/img/bannerwave2.png") repeat-x;
  animation: wave 25s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  animation-delay: -1s;
  transform: translateY(-90px);
}

/* 定义动画  波动动画 */
@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -2300px;
  }
}

/* 波浪线中的  向下按钮 */
.sea-side .arrow-down {
  position: absolute;
  /* 移动到父盒子的 左边50%   居中效果 */
  left: 50%;
  top: 50%;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #fff;
  animation: my-shake 2s ease-out infinite;
  cursor: pointer;
}

/* 下移 */
@keyframes my-shake {
  0% {
    opacity: 1;
    transform: translateY(-100px);
  }

  30% {
    opacity: 0.5;
    transform: translateY(-75px);
  }

  100% {
    opacity: 1;
    transform: translateY(-100px);
  }
}
